extends layout

block content

  a(href="/add-todo") New

  form(action="." method="POST")
    if todos && todos.length > 0
      ul
        for todo in todos
          li
            h3= todo.title
            p= todo.description
            p
              small= todo.date.toISOString().replace('T', ' ').replace(/\..+/, '')
            button(formaction=`/remove/${todo._id}` class="btn") Remove
    else
      p No todos exists
