doctype html
html
  head
    title= `${title}`
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  body

    div.container
      div.row
        div.mt-5.col-md-12
          h1.mb-4= title
          block content
